@import 'config';

.forecast-container {
   display: grid;
   grid-template-columns: minmax(300px, max-content);
   grid-gap: $grid * 3;
   justify-content: center;
   color: white;

   h2 {
      font-size: $font-m;
      margin: 20px 0;
      text-transform: capitalize;
   }
}

.days-container {
   display: grid;
   grid-gap: $grid * 2;
}

.day {
   display: grid;
   grid-template: repeat(3, min-content) / repeat(2, max-content);
   grid-gap: $grid * 2;
   padding: $grid * 4;
   border-radius: $grid;
   background-color: hsla(0, 100%, 100%, 0.34);

   .date {
      font-size: $font-m;
      margin: $grid * 2 0;
   }

   .time {
      justify-self: flex-end;
   }
}
