@import 'config';

.button {
   width: max-content;
   height: 34px;
   border-radius: 17px;
   cursor: pointer;
   background-color: white;
   font: bold $font-xs Open Sans;
   padding: 0 $grid * 3;
}

.button--big {
   height: 49px;
   border-radius: 25px;
   font-size: $font-s;
   padding: 0 $grid * 4;
}
