@import '../config.scss';

.App {
   background: linear-gradient(to bottom right, #d47199, #270a86);
   min-height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-rows: 70px 1fr;
   align-items: center;
   font-size: $fontXXS;
}

.App-header {
   margin: 0 $grid * 3;
}

.title {
   font-size: $fontXS;
   margin: 0;
}

@media screen and (min-width: 500px) {
   .App {
      grid-template-rows: 85px 1fr;
   }
   .title {
      font-size: $fontS;
   }
}

@media screen and (min-width: 700px) {
   .App {
      grid-template-rows: 100px 1fr;
      font-size: $fontS;
   }

   .App-header {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-gap: $grid * 3;
      align-items: center;
      margin: 0 $grid * 4;
   }
}

@media screen and (min-width: 900px) {
   .title {
      font-size: $fontM;
   }
}
