@import '../config.scss';

.button {
   height: 34px;
   width: 150px;
   border-radius: 17px;
   cursor: pointer;
   background-color: white;
   font: bold $fontXXS Amiri;
}

@media screen and (min-width: 700px) {
   .button {
      height: 42px;
      width: 180px;
      border-radius: 21px;
      font-size: $fontXS;
   }

   .header {
      width: 145px;
      height: 38px;
      font-size: $fontXXS;
   }
}
