@import '../config.scss';

.button {
   width: 145px;
   height: 38px;
   border-radius: 19px;
   cursor: pointer;
   background-color: white;
   font: bold $font-XXS Open Sans;
}

@media screen and (min-width: 500px) {
   .button {
      height: 50px;
      width: 200px;
      border-radius: 25px;
      font-size: $font-XS;
   }
}
