@import '../config.scss';

button {
   height: 34px;
   width: 150px;
   border-radius: 17px;
   cursor: pointer;
   background-color: white;
   font: bold $fontXXS Amiri;
}

.visibility {
   display: none;
}

@media screen and (min-height: 700px) {
   button {
      height: 42px;
      width: 180px;
      border-radius: 21px;
      cursor: pointer;
      background-color: white;
      font: bold $fontXS Amiri;
   }
}

@media screen and (min-width: 700px) {
   .visibility {
      display: block;
      width: 145px;
      height: 38px;
      font-size: $fontXXS;
      margin-right: $grid * 3;
   }
}
