@import '../config.scss';

.home {
   display: grid;
   grid-template-rows: 1fr min-content 2fr;
   grid-gap: $grid * 3;
   justify-items: center;
}

.title {
   margin: 0;
   font-size: $fontL;
   line-height: 50px;
}

@media screen and (min-width: 500px) {
   .title {
      font-size: $fontXL;
      line-height: 60px;
   }
}

@media screen and (min-width: 700px) {
   .title {
      font-size: $fontXXL;
      line-height: 70px;
   }
}
