@import '../config.scss';

.home {
   display: grid;
   grid-gap: $grid * 3;
   justify-items: center;
   padding-bottom: 100px;
}

.title {
   margin: 0;
   font-size: $font-L;
   line-height: 50px;
}

.responsive-width {
   width: 60%;
}

@media screen and (min-width: 500px) {
   .title {
      font-size: $font-XL;
      line-height: 60px;
   }
}

@media screen and (min-width: 700px) {
   .title {
      font-size: $font-XXL;
      line-height: 70px;
   }

   .responsive-width {
      width: 420px;
   }
}
