@import '../config.scss';

.input {
   height: 30px;
   width: 60%;
   border-radius: 5px;
   font: 400 $fontXXS Amiri;
   text-align: center;
}

@media screen and (min-width: 700px) {
   .input {
      width: 420px;
   }

   .header {
      height: 26px;
      width: 160px;
   }
}
